﻿@model Lab7.Models.Game

@using (Html.BeginForm("Start", "Home", FormMethod.Get))
{
    <div class="col-lg-12 col-md-6">
        <h3>First Player Name</h3>
        @Html.TextBoxFor(g => g.FirstPlayer.Name)<br />
    </div>
    <div class="col-lg-12 col-md-6">
        <h3>Second Player Name</h3>
        @Html.TextBoxFor(g => g.SecondPlayer.Name)<br />
    </div>
    <div class="col-lg-12 col-md-6">
        <br />
        <button class="btn btn-primary">Start!</button>
    </div>
}