﻿@model Lab7.Models.Game

<div class="col-lg-12">
    <div class="col-lg-6">
        @if (Model.CurrentPlayer == Lab7.Models.CurrentPlayer.Firstplayer)
        {
            var count = 0;
            foreach (var item in Model.FirstPlayerBoard.Cells.OrderBy(c => c.X))
            {
                count++;
                if (item.CurrentCellState == Lab7.Models.CurrentCellState.Ship)
                {
                    <button class="btn btn-primary"> @Lab7.Models.CurrentCellState.Empty.ToString()</button>
                }
                else
                {
                    <button class="btn btn-primary"> @item.CurrentCellState.ToString()</button>
                }
                if (count != Model.XSize)
                {
                    continue;
                }
                <br />
                count = 0;
            }
        }
        else
        {
            var count = 0;
            foreach (var item in Model.SecondPlayerBoard.Cells.OrderBy(c => c.X))
            {
                count++;
                if (item.CurrentCellState == Lab7.Models.CurrentCellState.Ship)
                {
                    <button class="btn btn-primary"> @Lab7.Models.CurrentCellState.Empty.ToString(); </button>
                }
                else
                {
                    <button class="btn btn-primary"> @item.CurrentCellState.ToString(); </button>
                }
                if (count != Model.XSize)
                {
                    continue;
                }
                <br />
                count = 0;
            }
        }
    </div>
    <div class="col-lg-6">
        @using (Html.BeginForm("Play", "Home", FormMethod.Post, Model))
        {
            @Html.HiddenFor(g => g.Id, Model.Id)
            <div>Oś X:</div> @Html.DropDownListFor(g => g.XSize, new SelectList(Enumerable.Range(0, Model.XSize)))
            <div>Oś Y:</div> @Html.DropDownListFor(g => g.YSize, new SelectList(Enumerable.Range(0, Model.YSize)))
            <br />
            <button class="btn btn-success">Strike!</button>
        }
    </div>
</div>
